[submodule "client/lib/wa"]
	path = client/lib/wa
	url = git@github.com:laxyyza/wa.git
[submodule "lib/ssp"]
	path = lib/ssp
	url = git@github.com:laxyyza/ssp.git
[submodule "lib/ght"]
	path = lib/ght
	url = git@github.com:laxyyza/ght.git
[submodule "lib/cutils"]
	path = lib/cutils
	url = git@github.com:laxyyza/cutils.git
